.footer {
  background-color: #AB88FF;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.footer a{
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-left: 30px;
}

.footer a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 600px){
  .footer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}